// scss/base/_variables.scss

// Colores
$color-primary: #0a9396;
$color-secondary: #94d2bd;
$color-accent: #ee9b00;
$color-white: #ffffff;
$color-black: #000000;

// Tipografías
$font-base: "Open Sans", sans-serif;

// Tamaños
$font-size-base: 16px;
